body {
    display: inline-block;
    /* background-color: #1c2230; */
    background-color: hsl(218, 28%, 13%);
}
header {
    display: inline-block;
    width: 90%;
    padding: 5%;
    background-color: #1c2230;
}
    .header-buttons {
        display: inline-block;
        width: 100px;
        padding: 10px;
        float: right;
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-family: Raleway;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

/* GET STARTED SECTION */
.get-started {
    display: inline-block;
    padding-bottom: 12%;
    text-align: center;
    color: white;
    font-Family: Raleway;
    background-image: url(images/bg-curvy-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-color: #1c2230;
    
}
    .txt1 {
        display: inline-block;
        font-size: 45px;
        font-weight: 700;
        width: 65%;
        padding: 2%;
    }
    .txt2 {
        display: inline-block;
        font-size: 18px;
        width: 40%;
        margin-left: 25%;
        margin-right: 25%;
        padding: 2%;
    }
    .button {
        display: inline-block;
        width: 280px;
        background: rgb(103,215,228);
        background: linear-gradient(90deg, rgba(103,215,228,1) 0%, rgba(63,173,206,1) 100%);
        border-radius: 30px;
        text-decoration: none;
        padding: 20px;
        font-size: 17px;
        color: white;
    }

/* 4 ELEMENTS SECTION */
.elements4 {
    display: inline-block;
    color: white;
    text-align: center;
    font-family: Raleway;
    /* background-color: hsl(218, 28%, 13%); */
}
    .sec {
        display: inline-block;
        width: 400px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }
    .sec > img {
        height: 88px;
        margin-bottom: 20px;
    }
        .sec > .head {
            display: inline-block;
            width: 80%;
            font-size: 18px;
            margin-bottom: -5%;
        }
        .sec > .par {
            width: 80%;
        }

@media only screen and (max-width: 1030px) {
    .sec {
        width: 30%;
    }
}
@media only screen and (max-width: 765px) {
    .sec {
        width: 100%;
    }
}

/* PRODUCTIVE SECTION */
.productive {
    display: inline-block;
    font-family: Raleway;
    width: 100%;
}
    .productive-img {
        display: inline-block;
        float: left;
        width: 615px;
        margin-left: 5%;
    }
    .productive-text {
        display: inline-block;
        width: 500px;
        margin-left: 5%;
        float: left;
        color: white;
        margin-top: 7%;
    }
        .prod-head {
            display: inline-block;
            width: 50%;
        }
    .prod-link {
        display: inline-block;
        color: grey;
        text-decoration: none;
        border-bottom-style: solid;
        border-color: grey;
    }

/* TESTIMONIALS SECTION */
.testimonials {
    display: inline-block;
    width: 70%;
    font-family: Raleway;
    color: white;
    float: left;
    margin-left: 15%;
    margin-top: 10%;
}
    .cont > .quotes {
        display: inline-block;
        position: absolute;
        top: -30px;
        left: -10px;
        z-index: -1;
    }
    .cont {
        display: inline-block;
        position: relative;
        width: 300px;
        background-color: hsl(219, 30%, 18%);
        border-radius: 5px;
        margin-right: 2%;
        margin-top: 5%;
    }
        .cont > .header {
            display: inline-block;
            font-size: 14px;
            text-align: center;
            width: 90%;
            font-weight: 400;
            padding: 5%;
        }
        .name {
            display: inline-block;
        }
            .name > img {
                display: inline-block;
                border-radius: 50%;
                float: left;
                width: 15%;
                padding: 5px;
            }
            .name > .full-name {
                display: inline-block;
                float: left;
                width: 60%;
                font-size: 12px;
                font-weight: 700;
                margin-bottom: 0;
            }
            .name > .position {
                display: inline-block;
                float: left;
                width: 60%;
                font-size: 8px;
            }